<!DOCTYPE html>
<html>
<head>
    <title>FAQ - ACME Manufacturing Corp</title> <!--title of the page-->
    <link rel="stylesheet" href="../static/css/style.css"> <!--link to the css file for the styling of my page--> 
</head>
<body>
    <header> 
        <!--header section containing : the logo and the menu-->
            <h1>ACME Manufacturing Corp</h1>  <!--title of the web application-->
        <nav>
            <!--Menu containing links to different pages-->
           <ul class="menu">
                <li><a href="/">Home</a></li> <!--link to the homepage-->
                <li><a href="login">Log In</a></li>   <!--link to the login page-->
                <li><a href="faqs">FAQ</a></li>   <!--link to the FAQ page-->
                <li><a href="about">About us</a></li>   <!--link to the about us page-->
                <li><a href="contact">Contact</a></li>   <!--link to the contact page-->
            </ul>
        </nav>
    </header>

    <section class="faq-container">
        <h2>Frequently Asked Questions</h2>
        <div class="faq">
            <div class="question">First question?</div>
            <div class="answer">Answer...</div>
        </div>
        
        <div class="faq">
            <div class="question">Question 2</div>
            <div class="answer">answer </div>
        </div>
        
        <div class="faq">
            <div class="question">Question tree</div>
            <div class="answer">Answer</div>
        </div>
        
        <div class="faq">
            <div class="question">Question 4</div>
            <div class="answer">Answer</div>
        </div>

        <a href="contact.html" class="btnsub">Contact us</a>
    </section>
    
    <footer>
        <!--footer section for copyright information-->
        <p>&copy; 2025 ACME Manufacturing Corp. All rights reserved. </p>
    </footer>

</body>
</html>
