<!DOCTYPE html>
<head>
    <title>Machine Details</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/script/eventhandling.js"></script>
</head>

<body>
    <header>
        <h1>Machine Details</h1>
        <nav>
            <ul>
                <li><a href="home">Home</a></li>                
                <li><a href="logout">Log Out</a></li>
            </ul>
        </nav>
    </header>

    <section class="about">
        <h2>Machine Information</h2>
        <div class="abouts">
            <div class="about">
                <h3>Name: Windshield Installation Machine</h3>
                <p><strong>Model:</strong>  DÜRR EcoGlassFit</p>
                <img src="../static/images/machine5.jpg" alt="Press Machine" style="width:100%; max-width:600px; border-radius:8px; box-shadow: 0 4px 10px rgba(0,0,0,0.1); margin-top:20px;">
                <p style="margin-top: 20px;">
                    <strong>Description:</strong>  Robotic system that installs and seals windshields and windows with precision.
                </p>
            </div>
        </div>
    </section>

    <section class="faq-container">
        <h2>Fault History -> To be filled dynamically with javascript</h2>
        <div class="faq-item">
            <h3>15/01/2025 - Hydraulic Pressure Failure</h3>
            <p>Issue detected in the hydraulic system causing low pressure during operations. Resolved by replacing the faulty valve.</p>
        </div>
        <div class="faq-item">
            <h3></h3>
            <p></p>
        </div>
        <div class="faq-item">
            <h3></h3>
            <p></p>
        </div>
    </section>

    <footer>
        <p>&copy; 2025 ACME Manufacturing Corp. All rights reserved.</p>
    </footer>
</body>

</html>
